[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/fintros/tensorflow.git
[submodule "swervolf"]
	path = swervolf
	url = https://github.com/fintros/Cores-SweRVolf.git
[submodule "fusesoc-cores"]
	path = fusesoc-cores
	url = https://github.com/fusesoc/fusesoc-cores
