[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/fintros/tensorflow.git
[submodule "fusesoc_libraries/Cores-SweRVolf"]
	path = fusesoc_libraries/Cores-SweRVolf
	url = https://github.com/fintros/Cores-SweRVolf.git
[submodule "fusesoc_libraries/fusesoc-cores"]
	path = fusesoc_libraries/fusesoc-cores
	url = https://github.com/fusesoc/fusesoc-cores
